.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .brand-logo {
    font-style: italic;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links li {
    margin-right: 1rem;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #FFD700; /* Change to your preferred hover color */
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links {
      margin-top: 1rem;
      flex-direction: column;
      display: none; /* Hide the navigation links by default */
    }
  
    .nav-links.open {
      display: flex; /* Display the navigation links when the navbar is open */
    }
  
    .nav-links li {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  
    .menu-toggle {
      display: block; /* Display the menu toggle button */
    }
  }
  